item {
    display: block;
    float: left;
    color: #37a;
    font-size: 13px;
    text-align: center;
    margin: 0 11.25px 10px 0;
    width: 140px
}

s-image {
    height: 30px;
    width: 30px;
}
