<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="renderer" content="webkit">
    <meta name="referrer" content="always">

    <link href="https://img3.doubanio.com/f/shire/94213e812acbb00123f685909b4768bb304d16f3/css/douban.css" rel="stylesheet" type="text/css">
    <link href="https://img3.doubanio.com/f/shire/ae3f5a3e3085968370b1fc63afcecb22d3284848/css/separation/_all.css" rel="stylesheet" type="text/css">
    <script type="text/javascript">var _head_start = new Date();</script>
    <script type="text/javascript" src="https://img3.doubanio.com/f/movie/0495cb173e298c28593766009c7b0a953246c5b5/js/movie/lib/jquery.js"></script>
    <script type="text/javascript" src="https://img3.doubanio.com/f/shire/7c755d690c065c747d3eca09cd3d58ca6d1c2218/js/douban.js"></script>
    <script type="text/javascript" src="https://img3.doubanio.com/f/shire/0efdc63b77f895eaf85281fb0e44d435c6239a3f/js/separation/_all.js"></script>

    <link rel="stylesheet" href="https://img3.doubanio.com/f/movie/ec5e8f0f5c7a88f57a81d57531e7e8d847e79a03/css/movie/home.css" />
    <script type="text/javascript" src="https://img3.doubanio.com/f/shire/77323ae72a612bba8b65f845491513ff3329b1bb/js/do.js" data-cfg-autoload="false"    ></script>

    <style type="text/css"></style>
    <style type="text/css">img { max-width: 100%; }</style>
    <script type="text/javascript"></script>
    <link rel="stylesheet" href="https://img3.doubanio.com/misc/mixed_static/79c704f749a60db4.css">

    <!-- Bootstrap Core CSS -->
    <link href="{{ url_for('static',filename='css/bootstrap.min.css') }}" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="{{ url_for('static',filename='css/heroic-features.css') }}" rel="stylesheet" charset="utf-8">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    {% if title %}
    <title>{{title}} - CSE305</title>
    {% else %}
    <title>SBU MOVIE</title>
    {% endif %}
  </head>

  <body>

    <script type="text/javascript">var _body_start = new Date();</script>

    <script src="//img3.doubanio.com/dae/accounts/resources/2b54fc2/shire/bundle.js" defer="defer"></script>

    <div id="db-nav-movie" class="nav">
      <div class="nav-wrap"  position="relative">
      <div class="nav-primary" width="900" height = "90">

        <div class="sm-logo" style="float:left; width:220px; height:60px; padding-right:10px;  padding-top:9px">
          <a href="{{ url_for('index') }}">
            <img src="{{ url_for('static',filename='image/sbumovie_logo.jpeg') }}" class = "" width = "220" height="36" />
          </a>
        </div>


        <div class="nav-search">
          <form action="/search", method="POST" name="search">
            <fieldset>
              <legend>SEARCH: </legend>
              <label for="inp-query">Movie, Actor, Review, DVD</label>
              <div class="inp"><input id="inp-query" name="search_text" size="22" maxlength="60" value=""></div>
              <div class="inp-btn"><input type="submit" value="Search"></div>
              <input type="hidden" name="cat" value="1002" />
            </fieldset>
          </form>
        </div>

      </div>
      </div>
      <div class="nav-secondary">

          <div class="nav-items nav-anon">
              <ul>
                    {% if not current_user.is_authenticated %}
                        {% if 'sign_in' not in request.url_rule.rule %}
                        <li>
                          <a href="{{ url_for('sign_in') }}">Sign in</a>
                        </li>
                        {% endif %}
                        {% if 'sign_up' not in request.url_rule.rule %}
                        <li>
                          <a href="{{ url_for('sign_up') }}">Sign up</a>
                        </li>
                        {% endif %}
                    {% else %}
                    <li>
                      <a href="{{ url_for("profile") }}">Profile</a>
                    </li>
                    <li>
                      <a href="{{ url_for('logout') }}">Logout</a>
                    </li>
                    <li>
                      <a href="{{ url_for('list', action = 2, query =' ' ) }}">Movie Q</a>
                    </li>
                    <li>
                      <a href="{{ url_for('list', action = 3, query =' ' ) }}">Movie F</a>
                    </li>
                    <li>
                      <a href="{{ url_for('list', action = 1, query =' ' ) }}">Order History</a>
                        {% if current_user.is_admin() %}
                          <li>
                            <a href="{{ url_for('admin', action = 1, i = 1) }}">Admin-Page</a>
                          </li>
                        {% endif %}
                    {% endif %}
              </ul>
          </div>
      </div>
    </div>

<div id="wrapper">

<div id="content">

    <div class="grid-16-8 clearfix">

          <div id="dale_movie_homepage_top_large"></div>


                    <div class="sm_article">

                      <div id="dale_movie_home_main_top"></div>

                      <script id="db-tmpl-subject-tip" type="text/x-jquery-tmpl">
                          {% raw %}
                          <div id="subject-tip">
                              <div class="subject-tip-hd">
                                  <h3>{{= title}}<span class="release-year">{{= release}}</span></h3>
                                  <p class="star">
                                      <span class="allstar{{= star}}"></span>
                                      <span class="subject-rating">{{= rate.toFixed(1)}}</span>
                                      {{if enough}}
                                          <span class="rater-num">({{= rater}}people reviews)</span>
                                      {{/if}}
                                  </p>
                              </div>
                              <div class="subject-tip-bd">
                                  <ul>
                                      <li><span>{{= duration}}</span><span>{{= type}}</span><span>{{= region}}</span></li>
                                      <li class="director"><span class="label">Director</span><span>{{= director}}</span></li>
                                      <li class="actors"><span class="label">Actors</span><span>{{= actors}}</span></li>
                                  </ul>
                                  {{if intro}}
                                      <div class="subject-intro">
                                          {{= intro}}
                                      </div>
                                  {{/if}}
                              </div>
                          </div>
                          {% endraw %}
                      </script>

                <!-- Page Content -->
                        {% with messages = get_flashed_messages() %}
                        <h2>
                          {% if messages %}
                          <ul>
                              {% for message in messages %}
                              <li>{{ message }}</li>
                              {% endfor %}
                          </ul>
                          {% endif %}
                        </h2>
                        {% endwith %}

                        {% block content %}


                        {% endblock %}
                        </div>
                  </div>
          </div>
      </div>
  </div>
    <!-- Footer -->
        <div id="footer">
          <span id="icp" class="fleft gray-link">
              &copy; 2017 SBU MOVIE.com, all rights reserved CSE305
          </span>
        </div>

    <script type="text/javascript" src="https://img3.doubanio.com/misc/mixed_static/5c2b326fa46fabf3.js"></script>
    <link rel="stylesheet" type="text/css" href="https://img3.doubanio.com/f/shire/8377b9498330a2e6f056d863987cc7a37eb4d486/css/ui/dialog.css" />
    <link rel="stylesheet" type="text/css" href="https://img3.doubanio.com/f/movie/1d829b8605b9e81435b127cbf3d16563aaa51838/css/movie/mod/reg_login_pop.css" />
    <script type="text/javascript" src="https://img3.doubanio.com/f/shire/77323ae72a612bba8b65f845491513ff3329b1bb/js/do.js" data-cfg-autoload="false"></script>
    <script type="text/javascript" src="https://img3.doubanio.com/f/shire/3d185ca912c999ee7f464749201139ebf8eb6972/js/ui/dialog.js"></script>

    <!-- /.container -->

    <!-- jQuery
    <script src="{{ url_for('static',filename='js/jquery.js') }}"></script>
    -->
    <!-- Bootstrap Core JavaScript -->
    <script src="{{ url_for('static',filename='js/bootstrap.min.js') }}"></script>
  </body>

  {% block js %}{% endblock %}
</html>
