{% extends "base.html" %}

{% block content %}

{% if not current_user.is_authenticated %}
<h1>Hi There!</h1>
{% else %}
<h1>Welcome back, {{ current_user.customer_id }}!</h1>
{% endif %}

<div id="screening" class="s" data-dstat-areaid="70" data-dstat-mode="click,expose">
    <div class="screening-hd">
            <div class="ui-slide-control">
                <span class="prev-btn"><a class="btn-prev" href="javascript:void(0)"></a></span>
                <span class="next-btn"><a class="btn-next" href="javascript:void(0)"></a></span>
            </div>
            <div class="slide-tip"><span class="ui-slide-index">1</span> / <span class="ui-slide-max">6</span></div>
        <h2>HOT!!!<span><a onclick="moreurl(this, {from:'mv_l_a'})" href="/cinema/nowplaying/">All&raquo;</a></span><span><a onclick="moreurl(this, {from:'mv_l_w'})" href="./later/">Up Coming&raquo;</a></span></h2>
    </div>
    <div class="screening-bd">
          <ul class="ui-slide-content" data-slide-index="1" data-index-max="6">

                {% for movie in hotMovies %}
                    <li class="ui-slide-item s" data-dstat-areaid=70_1 data-dstat-mode=click,expose data-dstat-watch=.ui-slide-content data-dstat-viewport=.screening-bd data-title="{{ movie.Name}}" data-release="2017" data-rate="{{ movie.Rating}}" data-star="20" data-trailer="https://movie.douban.com/subject/26260853/trailer" data-ticket="https://movie.douban.com/subject/26260853/cinema/" data-duration="136" data-region="USA" data-director="F.SBU" data-actors="A / B / C" data-intro="" data-enough="True" data-rater="{{ movie.NumRating}}">
                        <ul class="">
                            <li class="poster">
                                <a onclick="moreurl(this, {from:'mv_a_pst'})" href="https://movie.douban.com/subject/26260853/?from=showing">
                                    <img src="../static/image/default_poster.jpg" alt="{{ movie.Name}}" rel="nofollow" class="" />
                                </a>
                            </li>
                            <li class="title">
                                <a onclick="moreurl(this, {from:'mv_a_tl'})" href="{{ url_for('movie', movie_id = movie.Id) }}" class="">{{ movie.Name}}</a>
                            </li>
                            <li class="rating">
                                        <span class="rating-star allstar{{ movie.Rating * 10}}"></span><span class="subject-rate">{{ movie.Rating}}</span>
                            </li>
                                <li class="ticket_btn"><span><a onclick="moreurl(this, {from:'mv_b_tc'})" href="https://movie.douban.com/subject/26260853/cinema/">RENT DVD</a></span></li>
                                {% if current_user.is_authenticated %}
                                <li class="ticket_btn"><span><a onclick="moreurl(this, {from:'mv_b_tc'})" href="{{ url_for('add', action = 2, movie_id = movie.Id) }}">[Add To Cart]</a></span></li>
                                {% else %}
                                <li class="ticket_btn"><span><a onclick="moreurl(this, {from:'mv_b_tc'})" href="{{ url_for('sign_in') }}">[Add To Cart]</a></span></li>
                                {% endif %}
                        </ul>

                {% endfor %}
              </ul>
      </div>

<h2>MORE MOVIE</h2>
<div id="gaia">
    <div class="sm-list-wp">
        <div class="sm-list">
          {% for movie in movies %}

              <a class="item" target="_blank" href="{{ url_for('movie', movie_id = movie.Id) }}">
                  <div class="cover-wp" data-isnew="false" data-id="26279289">
                      <img src="../static/image/default_poster.jpg" alt="{{ movie.Name}} " data-x="1200" data-y="1698" height="207" width="140">
                  </div>
                  <p>
                      {{ movie.Name}}
                          <strong>{{ movie.Rating}}</strong>
                  </p>
              </a>

          {% endfor %}
        </div>
    </div>
</div>

<div id="reviews" class="s" data-dstat-areaid="77" data-dstat-mode="click,expose">
    <div class="reviews-hd">
        <h2>HOT REVEWS<span><a href="/review/best/">More&raquo;</a></span></h2>
    </div>
    <div class="reviews-bd">

      {% for r in res %}
            <div class="review ">
                <div class="review-hd">
                    <a href="https://movie.douban.com/subject/26289144/?from=reviews">
                            <img class="lazy"
                                src="../static/image/default_poster.jpg"
                                alt="{{ r[1].Name }}" />
                    </a>
                </div>
                <div class="review-bd">
                    <h3><a href="https://movie.douban.com/review/8474636/" class="">{{ r[0].Title }}</a></h3>
                    <div class="review-meta">
                        <a href="https://www.douban.com/people/153907121/">XXXX</a>
                        <a href="https://movie.douban.com/subject/26289144/?from=reviews">{{ r[1].Name }}</a>

                            <span class="allstar40"></span>
                    </div>
                    <div class="review-content">
                          {{ r[0].Content}}
                          <a href="https://movie.douban.com/review/8474636/">(Full)</a>
                    </div>
                </div>
            </div>
      {% endfor %}

    </div>
</div>

{% endblock %}
