{% extends "base.html" %}

{% block content %}

{% if not current_user.is_authenticated %}
<h1>Hi There!</h1>
{% else %}
<h1>Welcome back, {{ current_user.customer_id }}!</h1>
{% endif %}

{% for post in posts %}
    <p>{{ post.author.nickname }} : <b>{{ post.body }}</b> [Add To Cart]</p>
</div>
{% endfor %}

{% for movie in movies %}
    <p>{{ movie.movie_name}} : <b>{{ movie.type.value }}
      </b>

      {% if current_user.is_authenticated %}
      <a href="{{ url_for('add', user_id = current_user.id, movie_id = movie.id) }}">
        [Add To Cart]
      </a>
      {% else %}
      <a href="{{ url_for('login') }}">
        [Add To Cart]
      </a>
      {% endif %}

    </p>
</div>
{% endfor %}

{% endblock %}
