{% extends "base.html" %}
{% block content %}

{% if action == 1 %}
  <h1>Order List</h1>
{% endif %}

{% if action == 2 %}
    <h1>Movie Q List</h1>
{% endif %}

{% if action == 3 %}
    <h1>Movie F List</h1>
{% endif %}

{% if action == 4 %}
    <h1>Review List</h1>

    <div class="reviews-bd">

      {% for r in res %}
            <div class="review ">
                <div class="review-hd">
                    <a href="https://movie.douban.com/subject/26289144/?from=reviews">
                            <img class="lazy"
                                src="../static/image/default_poster.jpg"
                                alt="{{ r[1].Name }}" />
                    </a>
                </div>
                <div class="review-bd">
                    <h3><a href="https://movie.douban.com/review/8474636/" class="">{{ r[0].Title }}</a></h3>
                    <div class="review-meta">
                        <a href="https://www.douban.com/people/153907121/">XXXX</a>
                        <a href="https://movie.douban.com/subject/26289144/?from=reviews">{{ r[1].Name }}</a>

                            <span class="allstar40"></span>
                    </div>
                    <div class="review-content" style="text-overflow: ellipsis;">
                          {{ r[0].Content}}
                          <a href="https://movie.douban.com/review/8474636/">(Full)</a>
                    </div>
                </div>
            </div>
      {% endfor %}

    </div>
{% endif %}

{% if action == 5 %}
    <h1>Search Result</h1>
{% endif %}

{% if action == 6 %}
    <h1>Page {{ page }}</h1>

{% endif %}

{% if action == 7 %}
    <h1>Movie Type : {{ movie_type }}</h1>
{% endif %}

{% for i in range(movies|length) %}
    {% set movie = movies[i] %}
    <div class="review ">
        <div class="review-hd">
            <a href="{{ url_for('movie', movie_id = movie.Id) }}">
                    {% if movie.ImageUrl %}
                    <img class="lazy" src="{{ movie.ImageUrl }}" alt="{{ movie.Name }}" />
                    {% else %}
                    <img class="lazy" src="../static/image/default_poster.jpg" alt="{{ movie.Name }}" />
                    {% endif %}
            </a>
        </div>

        <div class="review-bd" style="width:900px;">
            <h3><a href="{{ url_for('movie', movie_id = movie.Id) }}" class="">{{ movie.Name }}</a>
              {% if orders %}
                <p id="order{{orders[i][0].Id}}" style="text-align:center;float:right;"> </p>
              {% endif %}
            </h3>
            <div class="review-meta" style="float: left; width:700px;">
                    <span class="allstar{{ movie.getStar() }}"></span>
                    <span>{{ movie.getRate() }}</span>
                    <span>allstar{{ movie.Director }}</span>
            </div>
            <div class="review-content" style="float: left; width:700px;">
                {% if action != 1 %}
                  {% if movie.Synopsis %}
                  {{ movie.Synopsis[:300] }} ......
                  {% endif %}
                {% else %}
                  Order Id: {{ orders[i][0].Id }}&nbsp;&nbsp;&nbsp;&nbsp;
                  Rent Date: {{ orders[i][0].OrderDate }} <br>
                  {% if not orders[i][0].ReturnDate %}
                    <p id="order{{orders[i][0].Id}}"> </p>
                    <script>
                      // Set the date we're counting down to
                      var countDownDate = new Date({{ orders[i][0].getReturnDate() * 1000 }}).getTime();
                      // Update the count down every 1 second
                      var x = setInterval(function() {

                        // Get todays date and time
                        var now = new Date().getTime();

                        // Find the distance between now an the count down date
                        var distance = countDownDate - now;

                        // Time calculations for days, hours, minutes and seconds
                        var days = Math.floor(distance / (1000 * 60 * 60 * 24));
                        var hours = Math.floor((distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
                        var minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
                        var seconds = Math.floor((distance % (1000 * 60)) / 1000);

                        // Display the result in the element with id="demo"
                        document.getElementById("order{{orders[i][0].Id}}").innerHTML = days + "d " + hours + "h "
                        + minutes + "m " + seconds + "s ";

                        // If the count down is finished, write some text
                        if (distance < 0) {
                          clearInterval(x);
                          document.getElementById("order{{orders[i][0].Id}}").innerHTML = "EXPIRED";
                        }
                      }, 1000);
                      </script>
                    {% else %}
                      <p> </p>
                    {% endif %}

                {% endif %}
            </div>

            <div class="" style="float: right;">
                <ul>
                    <li>
                    {% if action != 1 %}
                          <a href="{{ url_for('add', action = 1, movie_id = movie.Id) }}" class="j colbutt ll" >
                              <span>Rent</span>
                          </a>
                    {% else %}
                          <a href="{{ url_for('add', action = 5, movie_id = movie.Id) }}" class="j colbutt ll" >
                              <span>Return</span>
                          </a>
                    {% endif %}
                    </li>
                    <li>
                        {% if action == 2 %}
                        <a href="{{ url_for('add', action = 6, movie_id = movie.Id) }}" class="j colbutt ll" >
                            <span>Remove</span>
                        </a>
                        {% endif %}
                        {% if action == 3 %}
                        <a href="{{ url_for('add', action = 7, movie_id = movie.Id) }}" class="j colbutt ll" >
                            <span>Remove</span>
                        </a>
                        {% endif %}
                        {% if action != 3 and action != 2 %}
                        <a href="{{ url_for('add', action = 3, movie_id = movie.Id) }}" class="j colbutt ll" >
                            <span>Favorite</span>
                        </a>
                        {% endif %}
                    </li>
                </ul>
            </div>

        </div>
    </div>
{% endfor %}

{% for i in range(fMovies|length) %}
    {% set movie = fMovies[i] %}
    <div class="review ">
        <div class="review-hd">
            <a href="{{ url_for('movie', movie_id = movie.Id) }}">
                    {% if movie.ImageUrl %}
                    <img class="lazy" src="{{ movie.ImageUrl }}" alt="{{ movie.Name }}" />
                    {% else %}
                    <img class="lazy" src="../static/image/default_poster.jpg" alt="{{ movie.Name }}" />
                    {% endif %}
            </a>
        </div>

        <div class="review-bd" style="width:900px;">
            <h3><a href="{{ url_for('movie', movie_id = movie.Id) }}" class="">{{ movie.Name }}</a></h3>
            <div class="review-meta" style="float: left; width:700px;">
                    <span class="allstar{{ movie.getStar() }}"></span>
                    <span>{{ movie.getRate() }}</span>
                    <span>{{ movie.Director }}</span>
            </div>
            <div class="review-content" style="float: left; width:700px;">
                  Order Id: {{ fOrders[i][0].Id }}&nbsp;&nbsp;&nbsp;&nbsp;
                  Rent Date: {{ fOrders[i][0].OrderDate }} <br>
                  Return Date: {{ fOrders[i][0].ReturnDate }}
            </div>
            <div class="" style="float: right;">
                <ul>
                    <li>
                          <a href="{{ url_for('add', action = 1, movie_id = movie.Id) }}" class="j colbutt ll" >
                              <span>Rent</span>
                          </a>
                    </li>
                    <li>
                          <a href="{{ url_for('movie', movie_id = movie.Id) }}" class="j colbutt ll" >
                              <span>Rate Movie</span>
                          </a>
                    </li>
                    <li>
                        {% if action == 2 %}
                        <a href="{{ url_for('add', action = 6, movie_id = movie.Id) }}" class="j colbutt ll" >
                            <span>Remove</span>
                        </a>
                        {% endif %}
                        {% if action == 3 %}
                        <a href="{{ url_for('add', action = 7, movie_id = movie.Id) }}" class="j colbutt ll" >
                            <span>Remove</span>
                        </a>
                        {% endif %}
                        {% if action != 3 and action != 2 %}
                        <a href="{{ url_for('add', action = 3, movie_id = movie.Id) }}" class="j colbutt ll" >
                            <span>Favorite</span>
                        </a>
                        {% endif %}
                    </li>
                </ul>
            </div>
        </div>
    </div>
{% endfor %}
{% for actor in actors %}
    <div class="review ">
        <div class="review-hd">
            <a href="{{ url_for('actor', actor_id = actor.Id) }}">
                    {% if actor.ImageUrl %}
                    <img class="lazy" src="{{ actor.ImageUrl }}" alt="{{ actor.Name }}" />
                    {% else %}
                    <img class="lazy" src="../static/image/default_actor.jpg" alt="{{ actor.Name }}" />
                    {% endif %}
            </a>
        </div>

        <div class="review-bd" style="width:900px;">
            <h3><a href="{{ url_for('actor', actor_id = actor.Id) }}" class="">{{ actor.Name }}</a></h3>
            <div class="review-meta" style="float: left; width:700px;">
                    <span>{{ actor.Rating }}</span>
                    <span>{{ actor.NumRating }}</span>
            </div>
            <div class="review-content" style="float: left; width:700px;">
                  ImdbId: {{ actor.ImdbId }} <br>
                  {% if actor.Biography %}
                    Biography: {{ actor.Biography[:200] }}
                    <a href="{{ url_for('actor', actor_id = actor.Id) }}">
                      [more]
                    </a>
                  {% endif %}
            </div>



        </div>
    </div>
{% endfor %}

{% if page and page > 1 %}
    {% if action == 7%}
        <a href="{{ url_for('list', action = action, page = page-1, query = movie_type) }}" class="j colbutt ll" >
            <span>Prev</span>
        </a>
    {% endif %}
    {% if action == 6%}
        <a href="{{ url_for('list', action = action, page = page-1) }}" class="j colbutt ll" >
            <span>Prev</span>
        </a>
    {% endif %}
{% endif %}
{% if movies.__len__() == 20 %}
    {% if action == 7%}
        <a href="{{ url_for('list', action = action, page = page+1, query = movie_type) }}" class="j colbutt ll" >
            <span>Next</span>
        </a>
    {% endif %}
    {% if action == 6%}
        <a href="{{ url_for('list', action = action, page = page+1) }}" class="j colbutt ll" >
            <span>Next</span>
        </a>
    {% endif %}
{% endif %}

{% endblock %}
