{% extends "base.html" %}
{% block content %}

<div class="reviews-bd">

  {% for r in res %}
        <div class="review ">
            <div class="review-hd">
                <a href="https://movie.douban.com/subject/26289144/?from=reviews">
                        <img class="lazy"
                            src="../static/image/default_poster.jpg"
                            alt="{{ r[1].Name }}" />
                </a>
            </div>
            <div class="review-bd">
                <h3><a href="https://movie.douban.com/review/8474636/" class="">{{ r[0].Title }}</a></h3>
                <div class="review-meta">
                    <a href="https://www.douban.com/people/153907121/">XXXX</a>
                    <a href="https://movie.douban.com/subject/26289144/?from=reviews">{{ r[1].Name }}</a>

                        <span class="allstar40"></span>
                </div>
                <div class="review-content">
                      {{ r[0].Content}}
                      <a href="https://movie.douban.com/review/8474636/">(Full)</a>
                </div>
            </div>
        </div>
  {% endfor %}

</div>


{% if action == 1 %} Order List {% endif %}
{% if action == 2 %} Movie Q List {% endif %}
{% if action == 3 %} Movie F List {% endif %}
{% if action == 4 %} Review List {% endif %}
{% if action == 5 %} Search Result {% endif %}

{% for movie in movies %}
    <p>{{ movie.Name}} : <b>{{ movie.Type}}
      </b>
      {{ movie.Rating}} | {{ movie.NumRating}} | {{ movie.ImageUrl}} | <br>{{ movie.Synopsis}}

      {% if current_user.is_authenticated %}
      <a href="{{ url_for('add', user_id = current_user.Id, movie_id = movie.Id) }}">
        [Add To Cart]
      </a>
      {% else %}
      <a href="{{ url_for('sign_in') }}">
        [Add To Cart]
      </a>
      {% endif %}
    </p>
{% endfor %}

{% for order in orders %}
    <p>{{ order[0].OrderDate }} : <b>{{ order[0].Price }} </b>
      {{ order[1].Rating}} | {{ order[1].NumRating}} | {{ order[1].ImageUrl}} | <br>{{ movie.Synopsis}}

      [ Return It ]
    </p>
{% endfor %}



{% endblock %}
