{% extends "base.html" %}

{% block content %}

<h1>
        <span property="v:itemreviewed">{{ movie.Name }}</span>
            {% if movie.ReleaseDate %}
            <span class="year">({{ movie.ReleaseDate[:4] }})</span>
            {% endif %}
</h1>

<div class="indent clearfix">
            <div class="subjectwrap clearfix" xmlns:v="http://rdf.data-vocabulary.org/#" typeof="v:Movie">
                <div class="subject clearfix">

                    <div id="mainpic" class="">
                            {% if movie.ImageUrl %}
                            <img src="{{ movie.ImageUrl }}" alt="{{ movie.Name}}" rel="v:image" class="" />
                            {% else %}
                            <img src="../static/image/default_poster.jpg" alt="{{ movie.Name}} " rel="v:image">
                            {% endif %}
                    </div>

                    <div id="info">
                            <span><span class="pl">Director</span>: <span class="attrs">{{ movie.Director }}</span></span><br>
                                <span class="actor"><span class="pl">Actors</span>:
                                      <span class="attrs">
                                          {% for actor in actors %}
                                                <span><a href="{{ url_for('actor', actor_id=actor.Id) }}" rel="v:starring">{{actor.Name}}</a> / </span>
                                          {% endfor %}
                                      </span>
                                </span><br>
                            <span class="pl">Type:</span> <span property="v:genre">{{ movie.Type }}</span><br>
                            <span class="pl">Language:</span> {{ movie.Language }}<br>
                            <span class="pl">Release Date:</span> <span property="v:initialReleaseDate" content="2016-04-16">{{ movie.ReleaseDate }}</span><br>
                            <span class="pl">Length:</span> <span property="v:runtime" content="97">{{ movie.Length }} Min</span><br>
                            <span class="pl">IMDB ID:</span> <a href="http://www.imdb.com/title/{{ movie.ImdbId }}" target="_blank" rel="nofollow">{{ movie.ImdbId }}</a><br>
                    </div>

                </div>

                <div id="interest_sectl">
                    <div class="rating_wrap clearbox" rel="v:rating">

                        <div class="clearfix">
                          <div class="rating_logo ll">
                            SBU MOVIE RATING
                          </div>

                        </div>

                        <div class="rating_self clearfix" typeof="v:Rating">
                            <strong class="ll rating_num" property="v:average">{{ movie.getRate()}}</strong>
                            <span property="v:best" content="10.0"></span>
                            <div class="rating_right ">
                                <div class="ll bigstar bigstar{{ movie.getStar() }}"></div>
                                <div class="rating_sum">
                                        <span property="v:votes">{{ movie.sum() }}</span> People
                                </div>
                            </div>
                        </div>

                        <div class="ratings-on-weight">
                                <div class="item">
                                <span class="stars5 starstop" title="5">
                                    5 S
                                </span>
                                <div class="power" style="width:{{ movie.percent5() * 7 / 10 }}px"></div>
                                <span class="rating_per">{{ movie.percent5() }}%</span>
                                <br>
                                </div>
                                <div class="item">

                                <span class="stars4 starstop" title="4">
                                    4 S
                                </span>
                                <div class="power" style="width:{{ movie.percent4() * 7 / 10 }}px"></div>
                                <span class="rating_per">{{ movie.percent4() }}%</span>
                                <br>
                                </div>
                                <div class="item">

                                <span class="stars3 starstop" title="3">
                                    3 S
                                </span>
                                <div class="power" style="width:{{ movie.percent3() * 7 / 10 }}px"></div>
                                <span class="rating_per">{{ movie.percent3() }}%</span>
                                <br>
                                </div>
                                <div class="item">

                                <span class="stars2 starstop" title="2">
                                    2 S
                                </span>
                                <div class="power" style="width:{{ movie.percent2() * 7 / 10 }}px"></div>
                                <span class="rating_per">{{ movie.percent2() }}%</span>
                                <br>
                                </div>
                                <div class="item">

                                <span class="stars1 starstop" title="1">
                                    1 S
                                </span>
                                <div class="power" style="width:{{ movie.percent1() * 7 / 10 }}px"></div>
                                <span class="rating_per">{{ movie.percent1() }}%</span>
                                <br>
                                </div>
                        </div>
                    </div>
                </div>

                <div id="interest_sectl" style= "width:220px">
                    <a href="{{ url_for('add', action = 1, movie_id = movie.Id) }}" rel="nofollow" class="j  colbutt ll" name="pbtn-25937856-wish">
                        <span>Rent This Movie</span>
                    </a>
                    <a href="{{ url_for('add', action = 3, movie_id = movie.Id) }}" rel="nofollow" class="j  colbutt ll" name="pbtn-25937856-wish">
                        <span>Favorite</span>
                    </a>
                    <a href="{{ url_for('add', action = 2, movie_id = movie.Id) }}" rel="nofollow" class="j  colbutt ll" name="pbtn-25937856-collect">
                        <span>Add To Queue</span>
                    </a>
                    {% if current_user.is_authenticated and current_user.is_admin() %}
                    <a href="{{ url_for("remove", type = 1, id=movie.Id) }}", rel="nofollow" class="j  colbutt ll" name="pbtn-25937856-collect">
                      <span>Delete</span>
                    </a>
                    <a href="{{ url_for("edit_movie", movie_id=movie.Id) }}" rel="nofollow" class="j  colbutt ll" name="pbtn-25937856-collect">
                      <span>Edit</span>
                    </a>
                    {% endif %}
                </div>

            </div>

            <div id="interest_sect_level" class="clearfix">
                    {% if current_user.is_authenticated and current_user.check_rate_movie(movie.Id) %}
                    <div class="" style="">
                        <hr>
                        <h2>Rate &nbsp;&nbsp;·&nbsp;&nbsp;·&nbsp;&nbsp;·&nbsp;&nbsp;·&nbsp;&nbsp;·&nbsp;&nbsp;·</h2>
                        <div class="ll j a_stars">
                            Rating Movie:
                            <form action="/publish/{{movie.Id}}" method="post" name="rate">
                               {{ form.hidden_tag() }}
                               {% for subfield in form.rate %}
                                      {{ subfield }}
                                      {{ subfield.label }}
                              {% endfor %}
                               <p>{{form.body}}</p>
                               <p>{{ form.submit }}</p>

                            </form>
                      </div>
                      <br><br><br>
                    </div>
                    {% endif %}
                    <div class="related-info" style="margin-bottom:-10px;">
                        <a name="intro"></a>
                                {% if actors %}
                        <br><br><br><br><br><hr>
                                <h2>Starring&nbsp;&nbsp;·&nbsp;&nbsp;·&nbsp;&nbsp;·&nbsp;&nbsp;·&nbsp;&nbsp;·&nbsp;&nbsp;·</h2>
                                <div id="gaia">
                                    <div class="sm-list-wp">
                                        <div class="sm-list">
                                          {% for actor in actors %}

                                              <a class="item" target="_blank" href="{{ url_for('actor', actor_id=actor.Id) }}">
                                                  <div class="cover-wp" data-isnew="false" data-id="{{ actor.Id}}">
                                                      {% if actor.ImageUrl %}
                                                      <img src="{{ actor.ImageUrl }}" alt="{{ actor.Name}}" data-x="1200" data-y="1698" height="207" width="140" />
                                                      {% else %}
                                                      <img src="../static/image/default_actor.jpg" alt="{{ actor.Name}} " data-x="1200" data-y="1698" height="207" width="140">
                                                      {% endif %}
                                                  </div>
                                                  <p>
                                                      {{ actor.Name}}
                                                          <strong>{{ actor.Rating }}</strong>
                                                  </p>
                                              </a>

                                          {% endfor %}

                                        </div>
                                    </div>
                                </div>
                                <br><br><br><br><br><br><br><br>
                                {% endif %}
                    </div>
                    <br><br><br><br><br>
                    <div class="related-info" style="margin-bottom:-10px;" >
                        <a name="intro"></a>
                        <hr>
                                <h2>{{ movie.Name}}  SYNOPSIS&nbsp;&nbsp;·&nbsp;&nbsp;·&nbsp;&nbsp;·&nbsp;&nbsp;·&nbsp;&nbsp;·&nbsp;&nbsp;·</h2>
                                <div class="indent" id="link-report">
                                            <span property="v:summary" class="">
                                                    　　{{ movie.Synopsis}}
                                            </span>
                                </div>
                    </div>
                    <br><br>
                    {% if movie.TrailerUrl%}
                    <div class="related-info" style="margin-bottom:-10px;">
                        <a name="intro"></a>
                                <h2>{{ movie.Name}}  Trailer&nbsp;&nbsp;·&nbsp;&nbsp;·&nbsp;&nbsp;·&nbsp;&nbsp;·&nbsp;&nbsp;·&nbsp;&nbsp;·</h2>
                                <div class="indent" id="link-report">
                                            <iframe width="760" height="515" src="{{ movie.TrailerUrl }}" frameborder="0" allowfullscreen></iframe>
                                </div>
                    </div>
                    {% endif %}
                    <br><br><br>

                    <div class="related-info" style="margin-bottom:-10px;">
                        <a name="intro"></a>
                                <h2>More Movies&nbsp;&nbsp;·&nbsp;&nbsp;·&nbsp;&nbsp;·&nbsp;&nbsp;·&nbsp;&nbsp;·&nbsp;&nbsp;·</h2>
                                <div id="gaia">
                                    <div class="sm-list-wp">
                                        <div class="sm-list">
                                          {% for movie in movies %}

                                              <a class="item" target="_blank" href="{{ url_for('movie', movie_id = movie.Id) }}">
                                                  <div class="cover-wp" data-isnew="false" data-id="{{ movie.Id}}">
                                                      {% if movie.ImageUrl %}
                                                      <img src="{{ movie.ImageUrl }}" alt="{{ movie.Name}}" data-x="1200" data-y="1698" height="207" width="140" />
                                                      {% else %}
                                                      <img src="../static/image/default_poster.jpg" alt="{{ movie.Name}} " data-x="1200" data-y="1698" height="207" width="140">
                                                      {% endif %}
                                                  </div>
                                                  <p>
                                                      {{ movie.Name}}
                                                          <strong>{{ movie.getRate()}}</strong>
                                                  </p>
                                              </a>

                                          {% endfor %}
                                        </div>
                                    </div>
                                </div>
                    </div>

                    <br><br>
                    {% if res %}
                    <div class="related-info" style="margin-bottom:-10px;">
                                <h2>{{ movie.Name}}  Reviews&nbsp;&nbsp;·&nbsp;&nbsp;·&nbsp;&nbsp;·&nbsp;&nbsp;·&nbsp;&nbsp;·&nbsp;&nbsp;·</h2>
                                {% for r in res %}
                                      <div class="review ">
                                          <div class="review-bd">
                                              <h3><a href="{{ url_for('review', review_id = r.Id) }}" class="">{{ r.Author }}</a></h3>
                                              <div class="review-meta">
                                                  <a href="{{ url_for('review', review_id = r.Id) }}">{{ movie.Name }}</a>
                                              </div>
                                              <div class="review-content" >
                                                    {{ r.Content[:280]}}
                                                    {% if r.Content|length > 280 %}
                                                    <a href="{{ url_for('review', review_id = r.Id) }}">......(Full)</a>
                                                    {% endif %}
                                              </div>
                                          </div>
                                      </div>
                                {% endfor %}
                    </div>
                    {% endif %}
            </div>

</div>


{% endblock %}
