{% extends "base.html" %}

{% block content %}
{% if movie_id %}
<form action="{{ url_for("edit_movie", movie_id=movie_id) }}" method="POST" name="publish_movie">
  {% else %}
<form action="{{ url_for("edit_movie") }}" method="POST" name="publish_movie">
  {% endif%}
    {{ form.hidden_tag() }}

    <p>*Movie Name: {{ form.name }}</p>
    {% for error in form.errors.name %}
    <p style="color:red;">[-] {{ error }}</p>
    {% endfor %}

    <p>type: {{ form.movie_type }}</p>
    {% for error in form.errors.movie_type %}
    <p style="color:red;">[-] {{ error }}</p>
    {% endfor %}

    <p>*Number of Copies: {{ form.copies }}</p>
    {% for error in form.errors.copies %}
    <p style="color:red;">[-] {{ error }}</p>
    {% endfor %}

    <p>*Price per unit: {{ form.fee }}</p>
    {% for error in form.errors.fee %}
    <p style="color:red;">[-] {{ error }}</p>
    {% endfor %}

    <p>Poster URL: {{ form.posterUrl }}</p>
    {% for error in form.errors.posterUrl %}
    <p style="color:red;">[-] {{ error }}</p>
    {% endfor %}

    <p>trailer URL: {{ form.trailerUrl }}</p>
    {% for error in form.errors.trailerUrl %}
    <p style="color:red;">[-] {{ error }}</p>
    {% endfor %}

    <p>language : {{ form.language }}</p>
    {% for error in form.errors.language %}
    <p style="color:red;">[-] {{ error }}</p>
    {% endfor %}

    <p>length : {{ form.length }}</p>
    {% for error in form.errors.length %}
    <p style="color:red;">[-] {{ error }}</p>
    {% endfor %}

    <p>director: {{ form.director }}</p>
    {% for error in form.errors.director %}
    <p style="color:red;">[-] {{ error }}</p>
    {% endfor %}

    <p>synopsis: {{ form.synopsis }}</p>
    {% for error in form.errors.synopsis %}
    <p style="color:red;">[-] {{ error }}</p>
    {% endfor %}

<p>{{ form.submit }}</p>
</form>
{% endblock %}
